include /_mixin.pug

h3.text-lg #{ __("Create a new performer") }

form(action="/performers", hx-target="#modal", method="post")
  label(for="name")
  input#name(name="name", placeholder=__("Name"), type="text")

  label(for="thumbnail")
  input#thumbnail(name="thumbnail", placeholder=__("Thumbnail"), type="url")

  label(for="description")
  +textarea#description(name="description")

  button #{ __("Submit") }
