include /_mixin.pug

- var noCategory = [];
- var categories = {};

each label in labels
  if !label.category
    - noCategory.push(label);
  else
    if (label.category in categories == false)
      - categories[label.category] = [];
    - categories[label.category].push(label);

mixin labels(labels = [])
  .flex.flex-wrap.gap-2
    each label in labels
      +button(hx-post=`${basePath}/labels/${label.id}`)= label.text

if noCategory.length
  .mb-2
    +labels(noCategory)

if Object.keys(categories).length
  +list
    each labels, category in categories
      +listItem(__(category))
        +labels(labels)
