#player(x-data="currentTime")
  p#title #{ title }
    span#duration

  if chapter
    p #{ chapter }
    - var startAt = startTime ? dayjs.duration(startTime, "seconds").format("HH:mm:ss") : "";
    - var endAt = endTime ? dayjs.duration(endTime, "seconds").format("HH:mm:ss") : "";
    span #{ startAt }
    span #{ endAt }

  p(x-text="currentTime")
