extends _layout.pug

block body
  +button.mb-4(hx-get="/electron/user-data", hx-swap="none")= __("Storage")

  p.mb-4= __("The most recent items you created")

  .flex.flex-col.gap-4
    each item in items
      if "uploaderId" in item
        - var medium = item;
        include /media/_widget.pug
      else if "name" in item
        - var performer = item;
        include /performers/_widget.pug
      else
        - var playlist = item;
        include /playlists/_widget.pug
