if playQueueCount
  span(hx-swap-oob="innerHTML:#play-queues-count")
    smaill.rounded.border.bg-gray-900.bg-white.text-xs(
      class="-translate-x-1/2 px-0.5 dark:border-gray-700 dark:bg-gray-900"
    ) #{ playQueueCount }
