#play-queues
  .relative.p-2
    .absolute.right-2.top-2.flex.gap-2.text-2xl
      button(class="icon-[material-symbols--delete-outline]", hx-delete="/play-queues")
      button(@click="show = false", class="icon-[material-symbols--close]")
    h3.text-lg.font-semibold #{ __("Play Queue") }
  .flex.flex-col.gap-1.p-2.pt-0
    each item in items
      p.break-words #{ item.chapter ? item.chapter.title : "" } #{ item.medium.title }
