#play-queue
  .relative.p-2
    button.absolute.right-2.top-2.text-2xl(
      @click="show = false",
      class="icon-[material-symbols-light--close]"
    )
    h3.mb-2.text-center.text-lg.font-semibold #{ __("Play Queue") }
    each item in items
      p #{ item.chapter ? item.chapter.title : "" } #{ item.medium.title }
