extends ../_layout.pug

block append body
  #refresh-playlistables(
    hx-get=`/playlists/${playlist.id}/playlistables?_list`,
    hx-trigger="refresh-playlistables from:body"
  )
    include _list.pug
