extends ../_layout.pug

block body
  form(action="/extractions", method="post")
    input(type="url", name="url", required)
    label(for="isContinuous") isContinuous
    input#isContinuous(type="checkbox", name="isContinuous")
    label(for="isConvertible") isConvertible
    input#isConvertible(type="checkbox", name="isConvertible", checked)
    input(type="number", name="page")
    button(type="submit") Extract

  each extraction in extractions
    a(href="/extractions/" + extraction.id) #{ extraction.url }
