extends ../_layout.pug

block body
  form(action="/extractions", method="post", x-data="{ url: '' }")
    input(type="url", name="url", required, x-model="url")
    label(for="isContinuous") isContinuous
    input#isContinuous(type="checkbox", name="isContinuous")
    label(for="isConvertible") isConvertible
    input#isConvertible(type="checkbox", name="isConvertible", checked)
    input(type="number", name="page")
    button(type="button", @click="url = await window.electron.openFile()") File
    button(type="button", @click="url = await window.electron.openDir()") Directory
    button(type="submit") Extract

  each extraction in extractions
    div
      a(href="/extractions/" + extraction.id) #{ extraction.url }
