extends ../_layout.pug

block append breadcrumb
  +breadcrumb('/media', "icon-[ph--play]", __("Media"))
  +breadcrumb('/media', "icon-[gridicons--create]", __("Create"))

block body
  include _create.pug

  hr.mb-2

  h1.mb-2.text-2xl.text-gray-700(class="dark:text-gray-200") #{ __("History") }

  +buttonGroup.mb-4
    +buttonInGroup(hx-delete="/extractions/confirm", hx-target="#modal")
      i.text-2xl(class="icon-[material-symbols--delete-outline]")
      span #{ __("Delete All") }

  include _list.pug
