include /_mixin.pug

+table.mb-4.w-full
  +tbody
    each performer in performers
      +tr
        +td
          .flex.items-center.gap-2
            include /performers/_widget.pug

            +button.ml-auto(
              hx-post=`/media/${medium.id}/performers/${performer.id}`,
              hx-swap="none"
            )
              i.text-xl(class="icon-[material-symbols--add]")
              span= __("Add")

+paginator(hx-target="#search-result")
