extends ../_layout.pug

block body
  each medium in media
    div
      a(href=`/media/${medium.id}`) #{ medium.title }
      button(hx-get=`/media/${medium.id}/play`, hx-swap="none") Play
      button(hx-post=`/media/${medium.id}/queue`, hx-swap="none") Queue
