extends ../_layout.pug

block append breadcrumb
  +breadcrumb('/media', "icon-[ph--play]", __("Media"))

block body
  a.flex.items-center.gap-1.rounded.border.px-2.py-1(href="/extractions")
    i.text-2xl(class="icon-[gridicons--create]")
    span #{ __("Create") }

  .mb-2.flex.flex-col.gap-2
    each medium in media
      include _widget.pug

  != paginator({ path: "/media", qs: qs(), count })
