extends ../_layout.pug

block append breadcrumb
  +breadcrumb({ href: '/media', icon: "icon-[ph--play]", name: __("Media") })

block body
  +buttonGroup.mb-4
    +buttonInGroup(href="/extractions")
      i.text-2xl(class="icon-[gridicons--create]")
      span #{ __("Create") }

  .mb-4.flex.flex-col.gap-4
    each medium in media
      include _widget.pug

  != paginator({ path: "/media", qs: qs(), count })
