.relative.flex.items-center(
  @data-changed.window="showHint = true",
  @data-failed.window=`
            showError = true;
            if (timeoutId) clearTimeout(timeoutId);
            timeoutId = setTimeout(() => showError = false, 1500);
          `,
  @data-saved.window=`
            showHint = false;
            showError = false;
            showSuccess = true;
            if (timeoutId) clearTimeout(timeoutId);
            timeoutId = setTimeout(() => showSuccess = false, 1500);
          `,
  x-data=`{
            showHint: false,
            showError: false,
            showSuccess: false,
            timeoutId: null,
          }`
)
  i.text-xl(
    class="icon-[material-symbols--save-outline]",
    x-show="!showError && !showSuccess"
  )
  i.text-xl(class="icon-[heroicons-outline--exclamation]", x-show="showError")
  i.text-xl(class="icon-[material-symbols--check]", x-show="showSuccess")
  span.absolute.right-0.top-0.rounded-full.bg-red-500.p-1(x-show="showHint")

span.hidden(class="sm:inline-block") #{ __("Save") }
