include /_mixin.pug

mixin labels(labels = [])
  .flex.flex-wrap.gap-2
    each label in labels
      +button(hx-post=`/media/${medium.id}/labels/${label.id}`)= label.text

if "" in categories
  .mb-2
    +labels(categories[""])

if Object.keys(categories).length > 1 || (Object.keys(categories).length == 1 && "" in categories == false)
  +list
    each labels, category in categories
      if category
        +listItem(__(category))
          +labels(labels)
