extends ../_layout.pug

block body
  h1.mb-2.text-xl.font-bold #{ __("Playlists") }

  .mb-4.flex.flex-col.gap-4
    each playlist in playlists
      include _widget.pug

  != paginator({ path: "/playlists", qs: qs(), count })
