extends ../_layout.pug

block append breadcrumb
  +breadcrumb("/playlists", "icon-[mage--playlist]", __("Playlist"))

block body
  .mb-4.flex.flex-col.gap-4
    each playlist in playlists
      include _widget.pug

  != paginator({ path: "/playlists", qs: qs(), count })
