extends ../_layout.pug

block body
  p #{ playlist.title }

  each item in items
    div
      if (item.chapter)
        span #{ item.chapter.title }
      a(href=`/playables/${item.playable.id}`) #{ item.playable.title }
