include /_mixin.pug

+table.mb-4.w-full
  +tbody
    each playlist in playlists
      +tr
        +td
          +button.ml-auto(
            hx-delete=`/labels/${label.id}/playlists/${playlist.id}/confirm`,
            hx-target="#modal",
            title=__("Remove")
          )
            i.text-xl(class="icon-[iconamoon--close-light]")

        +td
          .flex.items-center.gap-2
            include /playlists/_widget.pug
