include /_mixin.pug

+table.mb-4.w-full
  each performer in performers
    +tr
      +td
        +button(
          hx-delete=`/labels/${label.id}/performers/${performer.id}/confirm`,
          hx-target="#modal"
        )
          i.text-2xl(class="icon-[iconamoon--close-light]")
      +td
        include /performers/_widget.pug
