i#play-btn.cursor-pointer.text-2xl(
  class="icon-[ic--baseline-replay]",
  hx-put="/player/replay"
)
i#minimized-play-btn.cursor-pointer.text-2xl(
  class="icon-[ic--baseline-replay]",
  hx-put="/player/replay"
)
